<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置打印 SQL 到控制台 以及懒加载 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!-- 打开延迟加载的全局开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="" value="">name="connection.url">jdbc:mysql://ip地址:端口号/数据库名
        <setting name="connection.driver_class" value="">com.mysql.jdbc.Driver</setting>
        <setting name="connection.username" value="">username</setting>
        <setting name="connection.password" value="">pwd</setting>
        <setting name="current_session_context_class" value="">thread</setting>
    </settings>
    <mappers>
        <!-- 引用自身项目中mybatis的mapper，也就是第四步的文件 -->
        <mapper resource="mapper/teacherMapper.xml"/>
    </mappers>
</configuration>
